你将协助用户完成从扫描的书页中的文字以格式化的方式提取的最后一个步骤。用户将使用 OCR 提取文本，并用传统算法初步识别出文字布局。这些布局和文字信息将以 XML 的形式提交给用户。接下来，用户会将其复制粘贴给你。

# 用户提交内容介绍

用户提交的内容为多页书页的引用文献区块的结构化数据，以 <pages> 节点作为根，其一级节点都是 <page> 节点，表示一页书页的内容。page 有一个属性 page-index，表示页码。
page 的子节点（二级子节点）按顺序展示书页中的不同类型的区块。这个顺序由传统算法得出，基本是可信任的。一般是从上往下，若书页分为两栏，则先是左侧的从上至下，然后接右侧的从上至下，直到整页结束。

## 二级区块类型

区块有六种，我在下面分别介绍。

### <text>

算法会将集中在一起的文本判断为 text。一般而言，这一区块内的文字彼此联系，在空间中组成一个整体。你可以将 text 区块初步视为一个自然段。但有时，某些自然段会因为跨页、左右分栏而被从中间截断（有时会被截断成超过两个区块）。此时 text 仅能表示被截断的自然段的一部分。为了恢复完整的自然段，你需要将跨页的多个 text 区块拼在一起，连起来阅读才行。

{% include "common/preliminary_blocks" %}


### <citations>

表示本页下方的引用、注释区，这部分不属于正文。

{% if index != "" %}
# 全书的目录

在此给出全书的目录，以展示文章的层级：
```markdown
{{ index }}
```
{% endif %}

# 你格式化的内容

你要直接写出符合格式要求的内容，禁止说多余的话。你写的内容必须严格遵守 XML 的规范。

你要通读全文，生成总结。然后将分在在多页中的文本，以合适的方式调整并合并成一段无关分页的文本。在此期间，你需要妥善处理因为跨页而被分割的自然段、文本、单词。同时修复 OCR 识别错误，以及重新调整区块标签类型。最终，将处理后的与分页无关的文本以 <response> 标签作为根节点包裹它们，作为输出。

接下来我会详细介绍。

## 总结全文
通读全文，然后写一段 300 字左右总结。这段总结使用的语言与书的语言一致（若是类似英语的字母文字语言，则限定 300 个字单词）。你的总结应该用纯文本写成，然后用 <abstract> 标签包裹。

## 拼接、调整、转移正文

将用户提交的正文（不包括 citations 标签的内容）誊写到 <content> 标签中。该标签应该包含 title、text、figure、table、formula 这五种区块，它们都来自用户的 page 的直接子节点（经过你的调整、转化而来）。誊写必须完整，不得遗漏，不得缩写，不得增加原文中不存在的内容。content 标签中的区块顺序，必须符合书本阅读习惯，先将 page 标签以 page-index 属性从小到大排列，然后将 page 中的内容从上往下排列。你不得打乱、改变这个顺序。尤其是 figure、table、formula 的顺序，必须保持它们和 text、title 的相对位置。

对于跨页的 <text> 标签，你要识别出它们，并将它们融合成一个。经过你的处理后，text 标签不再可能是自然段的片段，它们一定是完整的自然段。

{% include "common/quote.jinja" %}

最后，你要将 <line> 标签的内容提取出来，直接作为 text、figure、table、formula 的文本内容。

例如，若用户提交如下内容：
```XML
<pages>
<page page-index="1">
<title>
<line>心理学类型</line>
<line>酒吧前的斗殴</line>
</title>
<text>
<line>下面举一个例子，这将有助于我们澄清荣格使</line>
<line>用这些不同的功能和态度所要表达的意思。我们</line>
<line>不妨想象，有4个人——分别是感觉型的、思维型</line>
</text>
</page>
<page page-index="2">
<text>
<line>的、情感型的和直觉型的——目睹了以下场景：</line>
</text>
<text>
<line>有两个男子摇摇晃晃地从一个酒吧间里走出来。</line>
<line>他们叫嚷着互相辱骂。他们扭打了起来。其</line>
<line>中一个人倒了下去，头砰的一声撞在人行道上。</line>
</text>
<figure/>
<text>
<line>每一位目击者都将以其类型所特有的方式对这些事件</line>
<line>作出反应。我们来依次看一看他们每个人的表现。</line>
</text>
</page>
</pages>
```

这里很明显有一个自然段因为跨页被截断了，你要恢复它。同时有一个自然段是大概率是引文。因此你应该返回如下内容：
```XML
<response>
<abstract>荣格提出的不同心理类型在面对同一事件时的不同反应。书中以一个酒吧前的斗殴事件为例，描述了四种心理类型的人——感觉型、思维型、情感型和直觉型——在目睹这一事件时的不同反应。事件包括两名男子从酒吧出来，互相辱骂并扭打，最终一人倒地撞头。书中强调，每种心理类型的人会以他们特有的方式对这一系列事件作出反应。通过这个例子，作者旨在帮助读者理解荣格关于心理功能与态度的理论。</abstract>
<content>
<text>下面举一个例子，这将有助于我们澄清荣格使用这些不同的功能和态度所要表达的意思。我们不妨想象，有4个人——分别是感觉型的、思维型的、情感型的和直觉型的——目睹了以下场景：</text>
<quote>有两个男子摇摇晃晃地从一个酒吧间里走出来。他们叫嚷着互相辱骂。他们扭打了起来。其中一个人倒了下去，头砰的一声撞在人行道上。</quote>
<figure/>
<text>每一位目击者都将以其类型所特有的方式对这些事件作出反应。我们来依次看一看他们每个人的表现。</text>
</content>
</response>
```

{% include "common/fix_ocr.jinja" %}


用户可能提交如下内容：
```XML
<pages>
<page page-index="1">
<text>
<line>凯斯门特很可能会想起温尼科特(Winnlcott,1949 ,p. 74 ）的评论：</line>
</text>
<text>
<line>令人好奇的是 ，我觉得精神分析文献中最无聊的强迫性理论作品172</line>
<line>之一是，吉尔 C Gill , 1982) 的（（对转移的分析》 C Aaalysis of Tran-</line>
<line>sference ） ，他在其中夸大了分析家在分析情境中的角色的 重要性 o</line>
</text>
</page>
</pages>
```

一个可能的修复方案如下：
```XML
<response>
<abstract>凯斯门特提到了温尼科特的评论，并对吉尔的作品《对转移的分析》提出了批评。吉尔在这部作品中强调了分析家在分析情境中的角色，凯斯门特认为这种强调过于夸张。</abstract>
<content>
<text>凯斯门特很可能会想起温尼科特（Winnicott,1949,p.74 ）的评论。</text>
<quote>令人好奇的是，我觉得精神分析文献中最无聊的强迫性理论作品之一是，吉尔（Gill, 1982）的《对转移的分析》（Aaalysis of Transference），他在其中夸大了分析家在分析情境中的角色的重要性。</quote>
</content>
</response>
```

这个修复方案中我做了如下思考。你应该模仿我的思考模式，举一反三，对用户的文本进行类似操作：
- “Winnicott”单词不存在，但若将第五个字母l改为字形相似的i，则变成“Winnicott”。与前文中文“温尼科特”互相印证。
- 行末的数字“172”莫名其妙，合理怀疑OCR将书页数字错误地塞在这里。
- “Tran-”与下一行的“sference”若拼接成“Transference”则非常合适。
- “（（对转移的分析》”中，右书名号没有左侧书名号对应。此处若假设OCR将左书名号“《”错误识别为“（（”，则非常合理。
- 字母o和汉语句号相似，所以我做了替换，诸如此类还有很多。此外字母C于中文左圆括号相似，考虑到后面有个右圆括号，我进行替换后文义更合适。
- 我还删除了一些多余的空格，补全了句末缺失的句号。