<?xml version="1.0" encoding="utf-8"?>
<package version="2.0" xmlns="http://www.idpf.org/2007/opf" unique-identifier="uid">
  <metadata xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:opf="http://www.idpf.org/2007/opf">
    <dc:title>测试书籍</dc:title>
    <dc:language>zh</dc:language>
    <dc:creator>无名氏</dc:creator>
    <meta name="output encoding" content="utf-8" />
    <meta name="primary-writing-mode" content="horizontal-lr" />
  </metadata>
  <manifest>
    <item id="x_cover.xhtml" media-type="application/xhtml+xml" href="Text/cover_page.xhtml" />
    <item id="x_feiye.xhtml" media-type="application/xhtml+xml" href="Text/part0000.xhtml" />
    <item id="x_copyright.xhtml" media-type="application/xhtml+xml" href="Text/part0001.xhtml" />
    <item id="x_TOC.xhtml" media-type="application/xhtml+xml" href="Text/part0002.xhtml" />
    <item id="x_preface1.xhtml" media-type="application/xhtml+xml" href="Text/part0003.xhtml" />
    <item id="x_preface2.xhtml" media-type="application/xhtml+xml" href="Text/part0004.xhtml" />
    <item id="x_preface3.xhtml" media-type="application/xhtml+xml" href="Text/part0005.xhtml" />
    <item id="x_Section0001.xhtml" media-type="application/xhtml+xml" href="Text/part0006.xhtml" />
    <item id="x_Section0002.xhtml" media-type="application/xhtml+xml" href="Text/part0007.xhtml" />
    <item id="x_Section0003.xhtml" media-type="application/xhtml+xml" href="Text/part0008.xhtml" />
    <item id="x_Section0004.xhtml" media-type="application/xhtml+xml" href="Text/part0009.xhtml" />
    <item id="x_Section0005.xhtml" media-type="application/xhtml+xml" href="Text/part0010.xhtml" />
    <item id="x_Section0006.xhtml" media-type="application/xhtml+xml" href="Text/part0011.xhtml" />
    <item id="x_Section0007.xhtml" media-type="application/xhtml+xml" href="Text/part0012.xhtml" />
    <item id="item14" media-type="text/css" href="Styles/style0001.css" />
    <item id="item15" media-type="text/css" href="Styles/style0002.css" />
    <item id="item16" media-type="image/jpeg" href="Images/image00196.jpeg" />
    <item id="x_cover.jpg" media-type="image/jpeg" href="Images/cover00197.jpeg" />
    <item id="ncx" media-type="application/x-dtbncx+xml" href="toc.ncx" />
  </manifest>
  <spine toc="ncx">
    <itemref idref="x_cover.xhtml" linear="no" />
    <itemref idref="x_feiye.xhtml" />
    <itemref idref="x_copyright.xhtml" />
    <itemref idref="x_TOC.xhtml" />
    <itemref idref="x_preface1.xhtml" />
    <itemref idref="x_preface2.xhtml" />
    <itemref idref="x_preface3.xhtml" />
    <itemref idref="x_Section0001.xhtml" />
    <itemref idref="x_Section0002.xhtml" />
    <itemref idref="x_Section0003.xhtml" />
    <itemref idref="x_Section0004.xhtml" />
    <itemref idref="x_Section0005.xhtml" />
    <itemref idref="x_Section0006.xhtml" />
    <itemref idref="x_Section0007.xhtml" />
  </spine>
  <tours>
</tours>
  <guide>
    <reference type="toc" title="目录" href="Text/part0002.xhtml" />
    <reference type="cover" title="Cover" href="Text/cover_page.xhtml" />
  </guide>
</package>