<?xml version="1.0" encoding="utf-8"?>
<package version="2.0" xmlns="http://www.idpf.org/2007/opf" unique-identifier="uid">
  <metadata xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:opf="http://www.idpf.org/2007/opf">
    <dc:title>测试书籍</dc:title>
    <dc:language>zh</dc:language>
    <dc:creator>无名氏</dc:creator>
    <meta name="output encoding" content="utf-8" />
    <meta name="primary-writing-mode" content="horizontal-lr" />
  </metadata>
  <manifest>
    <item id="part0001.xhtml" media-type="application/xhtml+xml" href="Text/part0001.xhtml" />
  </manifest>
  <spine toc="ncx">
    <itemref idref="part0001.xhtml" />
  </spine>
</package>