<?xml version="1.0" encoding="utf-8"?>
<package version="2.0" xmlns="http://www.idpf.org/2007/opf" unique-identifier="uid">
  <metadata xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:opf="http://www.idpf.org/2007/opf">
    <dc:title>测试书籍</dc:title>
    <dc:language>zh</dc:language>
    <dc:creator>无名氏</dc:creator>
{% if has_cover %}
    <meta name="cover" content="assets/cover.png" />
{% endif %}
    <meta name="output encoding" content="utf-8" />
    <meta name="primary-writing-mode" content="horizontal-lr" />
  </metadata>
  <manifest>
{% if has_cover %}
    <item id="x_cover" media-type="image/png" href="assets/cover.png" />
    <item id="x_cover.xhtml" media-type="application/xhtml+xml" href="Text/cover.xhtml" />
{% endif %}
{% if has_head_chapter %}
    <item id="x_head.xhtml" media-type="application/xhtml+xml" href="Text/head.xhtml" />
{% endif %}
{% for nav_point in nav_points %}
    <item id="x_{{ nav_point.file_name }}" media-type="application/xhtml+xml" href="Text/{{ nav_point.file_name }}" />
{% endfor %}
{% if nav_points %}
    <item id="ncx" media-type="application/x-dtbncx+xml" href="toc.ncx" />
{% endif %}
  </manifest>
{% if nav_points %}
  <spine toc="ncx">
{% else %}
  <spine>
{% endif %}
{% if has_cover %}
    <itemref idref="x_cover.xhtml" linear="no" />
{% endif %}
{% if has_head_chapter %}
    <itemref idref="x_head.xhtml" />
{% endif %}
{% for nav_point in nav_points %}
    <itemref idref="x_{{ nav_point.file_name }}" />
{% endfor %}
  </spine>
</package>