blockquote {
 	border-left: 0.5em solid #c7c7c7;
  margin: 1.5em;
  padding: 1em;
 	text-indent:2em;
  line-height:1.5em;
}

a.super {
	font-size: 0.45em;
	vertical-align: super;
}

div.citation {
  margin-top: 2.5em;
  margin-left: 0.75em
}

div.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3em;
}