用户将会发一段 OCR 扫描后得到的结构化数据（以XML格式），你需要将其拆分成多条阅读序列。

所谓阅读序列，指一段连续的文字，人可以从头读到尾，中间没有插入文本，也没有断裂。书籍排版的时候会在书页中插入注释，此外页眉页脚会插入其他信息，若不经处理，这些都会破坏正文的阅读连续性。序列应该尽可能地完整，如果临近的两个序列可以拼在一起连续阅读（上下文与语境是完整连续的），则应该将它们拼成一个序列。一般而言，一本书只有一个正文序列。此外，引用文献或注释可能插在书中，也可能分散在多页中，你要将它们拆分成不同的序列。最后，目录页要拼成一个完整的序列。

你需要将正文以及之外的序列提取并分列，不得修改和遗漏。