name: build
on:
  pull_request:
    branches:
      - "main"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10.16"

      - name: Step poetry
        uses: abatilo/actions-poetry@v3
        with:
          poetry-version: "2.1.3"

      - name: Install dependencies
        run: |
          poetry install --no-root
          pip install onnxruntime==1.21.0

      - name: Lint
        run: |
          poetry run pylint "--generated-member=cv2" ./pdf_craft/**/*.py ./tests/**/*.py

      - name: Run unit tests
        run: python test.py